*.gem
*.rbc
*.un~
*~
.dat*
.netrwhist
.repl_history
.rvmrc
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
build/
